<%- include('templates/bootstrap')%>
<body>
    <div id="large-space"></div>
    <h2 style="text-align: center">Tu opinión es importante</h2>
    <div id="large-space"></div>
    <center>
        <img src="/estatico/img/secretaria.jpg" id="img_callcenter" alt="imagen secretaria"
    </center>
    <div id="medium-space"></div>
    <p id="margin">Contactános con nosotros en los siguientes medios de comunicación. Nosotros 
        resolveremos tus dudas.
    </p>
    <div id="large-space"></div>
    <div class="row">
        <div class="col-9">
            <h2 id="margin">Gmail</h2>
        </div>
        <div class="col-3">
            <img src="/estatico/icons/gmail.png" id="ico" alt="logo gmail"> 
        </div>
        <center>
        <a type="button" class="btn btn-primary col-12 mb-3" href="mailto: pSecservices22@gmail.com"><p>Ingresa a tu Gmail</p></a>
        </center>

        <div class="col-9">
            <h2 id="margin">Teléfono</h2>
        </div>
        <div class="col-3">
            <img src="/estatico/icons/telefono.png" id="ico" alt="logo telefono"> 
        </div>
        <center>
        <a type="button" class="btn btn-primary col-12 mb-3" href="tel: 4141059941"><p>Ingresa a tus llamadas</p></a>
        </center>

        <div class="col-9">
            <h2 id="margin">Whatsapp</h2>
        </div>
        <div class="col-3">
            <img src="/estatico/icons/whatsapp.png" id="ico" alt="logo whatsapp"> 
        </div>
        <center>
        <a type="button" class="btn btn-primary col-12 mb-3" href="https://wa.me/524141059941"><p>Ingresa a tus Whatsapp</p></a>
        </center>
    </div>

</body>
</html>