<%- include('templates/bootstrap')%>
<body>
    <div id="large-space"></div>
    <center>
        <img id="img" src="/estatico/img/Picture Security.png" alt="Logo_Empresa"
    </center>
    <h2 style="text-align: center">¿Quíenes somos?</h2>
    <div id="text-space"></div>
    <p id="margin">Somos un equipo de trabajo enfocado principalmente en el ámbito de la seguridad, el cual sabemos que es de suma importacia hoy en día para el hogar y locales de nuestros clientes.</p>
    <div id="medium-space"></div>
    <h2 style="text-align: center">Misión</h2>
    <div id="text-space"></div>
    <p id="margin">Poder implementar nuestro producto en hogares y comercios que permita darle seguridad a las personas de manera sencilla y económica.</p>
    <div id="medium-space"></div>
    <h2 style="text-align: center">Visión</h2>
    <div id="text-space"></div>
    <p id="margin">Ser la mejor empresa en el ámbito laboral, logrando establecer un buen ambiente de trabajo, el cual nos permita siempre mejorar nuestros procesos y calidad.</p>
    <div id="medium-space"></div>
    <h2 style="text-align: center">Objetivos</h2>
    <div id="text-space"></div>
    <li id="margin">Implementar la seguridad para hogares y comercios</li>
    <div id="text-space"></div>
    <li id="margin">Establecer un sistema de vigilancia con cámaras con un enfoque incognito para un espionaje más sigiloso</li>
    <div id="text-space"></div>
    <li id="margin">Implementar una aplicación móvil para interacción entre cliente sy la camara de vigilancia</li>
    <div id="text-space"></div>
    <li id="margin">Establecer el proyecto con materiales económicos y de calidad</li>


</body>
</html>