<%- include('templates/bootstrap')%>
<body>
    <div class="container">
        <h1>P-Sec</h1>
        <div id="medium-space"></div>
        <center>
            <img id="img" src="/estatico/img/Picture Security.png" alt="Logo_Empresa"
        </center>
        <div id="large-space"></div>
        <table class="table">
            <thead>
                <h2>Bienvenido</h2>
                <div id="small-space"></div>
                <p>Teniendo seguridad, nadie te detendrá</p>
            </thead>
            <tbody>
                <div id="medium-space"></div>
                <a type="button" class="btn btn-primary col-12 mb-3" href="/principal"><p>Iniciar Sesión</p></a>
                <p class="mb-2">¿Aún no tienes cuenta?</p>
                <a type="button" class="btn btn-outline-secondary col-12" href="/newUser"><p>Registrate</p></a>
            </tbody>
        </table>
        
    </div>
    
    
</body>
</html>