<%- include('templates/bootstrap')%>
<body>
    <center>
        <img id="img" src="/estatico/img/User.png" alt="Imagen_Usuario">
    </center>
    <div id="large-space"></div>
    <h2>Registrate aquí</h2>
    <div id="medium-space"></div>
    <!--Formulario-->
        <form action="/newAdmin" method="POST">
            <p>Nombre(s)</p>
            <div id="small-space"></div>
            <input class="form-control mb-2" type="text" name="name" id="input">
            <p>Domicilio</p>
            <div id="small-space"></div>
            <input class="form-control mb-2" type="text" name="address" id="input">
            <p>Correo</p>
            <div id="small-space"></div>
            <input class="form-control mb-2" type="email" name="email" id="input">
            <p>Teléfono</p>
            <div id="small-space"></div>
            <input class="form-control mb-2" type="text" name="number" id="input">
            <p>Contraseña</p>
            <div id="small-space"></div>
            <input class="form-control mb-2" type="text" name="password" id="input">
            <p>IP Camara 1</p>
            <div id="small-space"></div>
            <input class="form-control mb-2" type="text" name="camara1" id="input">
            <p>IP Camara 2</p>
            <div id="small-space"></div>
            <input class="form-control mb-2" type="text" name="camara2" id="input">
            <p>Tipo</p>
            <input class="form-control mb-2" type="text" name="tipo" id="input" value="admin">
            <div id="medium-space"></div>
            <button class="btn btn-primary col-12 mb-3 form-control" type="submit"><p>Ingresar</p></button>
            <a class="btn btn-outline-secondary col-12" href="/adminsON"><p>Salir</p></a>
        </form>
</body>
<div id="large-space"></div>
</html>